# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/
build/
src/main/java/io/buchin/tictactoe/onethread/
src/main/resources/
src/test/
gradle/
/src/main/java/io/buchin/tictactoe/multithread/GameField.java
/src/main/java/io/buchin/tictactoe/multithread/client/main/
